@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


span {
    font-family: 'Yellowtail', cursive; 
    font-size: 1.2em;
    color: #A12B42;
  
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    

}

.recipe {
    
   max-width: 400px;
   height: 400px;
   margin: 30px;
   opacity: 0.7;
   
  
}

.lomein {
    text-align: center;
    font-size: 1.5em;
  
    
}

.link {
    text-decoration: none;
    color: black;
    display: inline-block;
    justify-content: center;
}

.link:hover {
    background-color: #A12B42;
    color: white;
   
  
   
}

.stirfry {
    text-align: center;
    font-size: 1.5em;
}

.thainoodle {
    text-align: center;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    font-size: 2.8em;
}




/* LO MEIN INGREDIENT PAGE */

.container2 {
    display: flex;
}

.item1 {
    width: 400px;
}

.ingredients {
    
    color: blue;
}

.h1 {
    color: red;
}
