@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}



span {
    font-family: 'Yellowtail', cursive; 
    font-size: 1.2em;
    color: #A12B42;
}

/* LO MEIN INGREDIENT LIST */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    

}

.recipe {
    
   max-width: 400px;
   height: 400px;
   margin: 30px;
   opacity: 0.7;
   
  
}

.lomein {
    text-align: center;
    font-size: 1.5em;
  
    
}

.link {
    text-decoration: none;
    color: black;
    display: inline-block;
    justify-content: center;
}

.link:hover {
    background-color: #A12B42;
    color: white;
   
  
   
}

.stirfry {
    text-align: center;
    font-size: 1.5em;
}


h1 {
    text-align: center;
    font-size: 2.8em;
}




/* LO MEIN INGREDIENT PAGE */

.container2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    
    
}

.item1 {
    height: 350px;
    width: 400px;
    opacity: 0.8;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ingredient-list1 {
    margin-left: 35px;
    font-size: 1.3em;
    padding-left: 15px;
    
    
}

.h1 {
    color: #A12B42;
    margin: 30px;
    text-decoration: underline;
}

.lm-ingredients {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding-left: 20px;   
 
    

}
    

/* THAI NOODLE INGREDIENT PAGE */

.thainoodle {
    text-align: center;
    font-size: 1.3em;
}

.container3 {
    display: flex;
    justify-content: center;  
    
}

.item2 {
    max-width: 400px;
    height: 450px;
    opacity: 0.8;
    border-radius: 10px;
}

.ingredient-list2 {
    margin-left: 30px;
    padding-left: 20px;
    font-size: 1.3em;
    padding-top: 0;
    font-size: 1.15em;
    

    
}

.ingredient-li {
    height: 28px;
}

.tn-ingredients {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding-left: 30px;
    margin-top: 50px;   
    font-size: 1.1em;
   

}

/*  STIR FRY INGREDIENT PAGE */

.container4 {
    display: flex;
    justify-content: center; 

}

.item3 {
    max-width: 400px;
    height: 350px;
    opacity: 0.8;
    border-radius: 10px;

}

.ingredient-list3 {
    margin-left: 30px;
    padding-left: 20px;
    font-size: 1.1em;
    margin-bottom: 60px;
    
}

.sf-ingredients {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-left: 30px;
  
}

/* MEDIA QUERIES FOR INDEX.HTML */

@media all and (max-width: 950px) {
    .container, .link {
    display: flex;
    flex-direction: column;
    flex-flow: wrap-reverse;
   
}
}

/* MEDIA QUERIES FOR LOMEIN.HTML */


@media all and (max-width: 800px) {
    .container2, .ingredient-list1 li {
    display: inline-block;
    text-align: center;
    width: 90%;
   
}
}

@media all and (max-width: 800px) {
    .item1 {
    margin-left: 5%;
    text-align: center;
    
}
}

/* MEDIA QUERIES FOR THAINOODLE.HTML */

@media all and (max-width: 800px) {
    .container3, .ingredient-list2 li {
        display: inline-block;
        text-align: center;
        width: 90%;
       
       
   
}
}

@media all and (max-width: 800px) {
    .tn-ingredients {
        width: 95%;
}
}
@media all and (max-width: 800px) {
    .item2{
        
        margin-left: 5%;
        text-align: center;
}
}

/* MEDIA QUERIES FOR STIRFRY.HTML */

@media all and (max-width: 800px) {
    .container4, .ingredient-list3 li {
    display: inline-block;
    text-align: center;
    width: 90%;
   
}
}

@media all and (max-width: 800px) {
    .item3 {
    margin-left: 5%;
    text-align: center;
    
}
}

@media all and (max-width: 800px) {
    .sf-ingredients {
        width: 95%;
}
}

@media all and (max-width: 800px) {
    .h1 {
    font-size: 2em;
    
}
}